@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Playfair+Display&display=swap');

body {
  background-color: #FBF9EE;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

main {
  width: 100%;
  overflow: hidden; /* This will ensure no overflow from children */
}

.carousel {
  width: 100%; /* Updated from 100vw to 100% */
  height: 100vh;
  position: relative;
  overflow: hidden; /* Added to ensure no horizontal scrolling occurs */
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.carousel > ul > li {
  width: 100%; /* Ensure the list item matches the width of the carousel */
  position: absolute; /* Aligns all slides on top of each other */
  left: 0;
  top: 0;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active="true"] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide > img {
  opacity: 1;
  width: 100%;
  height: auto; /* Adjust height automatically to maintain aspect ratio */
  object-fit: cover; /* Covers the slide area, might crop the image */
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: #FBF9EE;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: rgba(244, 244, 244, 0.3);
  padding: 1em 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #FBF9EE;
}

footer{
  display: flex;
  height: 320px;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #2d2e33;
  padding: 60px 10%;
}

.footer-col{
  width: 25%;
  align-content: flex-end;
}

.footer-col h4{
  position: relative;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FBF9EE;
  text-transform: capitalize;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 40px;
}

.logo {
  display: grid;
  justify-content: start;
  justify-items: start;
}

.logo a {
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: #FBF9EE;
  text-align: center;
  line-height: 24px;
  transition: 0.4s;
  font-size: 18px;
}

.info {
  display: grid;
  justify-content: center;
  justify-items: end;
}

.address {
  display: grid;
  justify-content: center;
  justify-items: start;
}

.social-media {
  display: grid;
  justify-content: end;
  justify-items: end;
}

.social-media a{
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: #FBF9EE;
  text-align: center;
  line-height: 24px;
  transition: 0.4s;
  font-size: 18px;
}

.social-media a:hover{
  color: #4d4f55;
  background-color: #FBF9EE;
}

form {
  width:480px;
}

.input-group{
  margin-bottom: 34px;
  position: relative;
}

label {
  font-family: 'Orbitron', sans-serif;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.2s;
}

.title {
  font-family: 'Orbitron', sans-serif;
}

.submit {
  font-family: 'Orbitron', sans-serif;
  padding: 10px 0;
  color: black;
  outline: none;
  background: transparent;
  border: 1px solid black;
  width: 500px;
  cursor: pointer;
}

.pop-up {
  height: 450px;
  width: 500px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  color: #fff;
  cursor: text;
}

.sumbit {
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}
@media(max-width: 740px) {
  .footer-col {
    width: 50%;
    text-align: center;
  }

  .footer-col h4::before {
    display: none; /* Instead of 'all: unset', directly hide or remove the element */
  }
}

@media(max-width: 555px) {
  .footer-col {
    width: 100%;
  }
}
.pop-up {
  height: 400px;
  width: 500px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  position: fixed; /* Center the popup */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to center the div exactly */
  display: none; /* Hide by default */
  z-index: 1000; /* Make sure it's on top */
  padding: 10px 20px 10px 20px;
}

.input-container {
  display: flex;
  justify-content: space-around;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 36px;
  height: 60px;
}

.close-btn {
  font-size: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
}

.close-btn:hover {
  color: #FBF9EE;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.input-group {
  flex-grow: 1;
}

.input-group input, .input-group textarea {
  font-family: 'Orbitron', sans-serif;
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid black;
  background: transparent;
  color: black;
  font-size: 15px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
  top: -30px;
  font-size:12px;
}

.submit:hover {
  color: #FBF9EE;
  border: 1px solid #FBF9EE;
}

textarea {
  height: 90px;
}

.caption-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.os-phrases h2 {
  z-index: 100;
  /*color: black;*/
  color: #FBF9EE;
/*color: red;*/
  font-family: 'Orbitron', sans-serif;
  /*font-weight: bold;*/
  position: relative;
  font-size: 200px;
  font-weight: 200;
  letter-spacing: 14px;
  opacity: 0;
  animation: fadeIn 4s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 0.85;
    transform: translateY(0);
  }
}

.os-phrases .designs {
  z-index: 101;
  left: 200px;
  bottom: 200px;
  /*color: #323131; !* Lighter grey to differentiate from the main title *!*/
  color: #FBF9EE;
  /*color: red;*/
  font-family: 'Orbitron', sans-serif;
  font-size: 30px; /* Smaller than the main title */
  font-weight: 100; /* Bolder than the main title for contrast */
  letter-spacing: 7px; /* Less spacing than the main title */
  opacity: 0;
  animation: fadeInSlow 5s forwards; /* Slower fade in for effect */
}

@keyframes fadeInSlow {
  0% { opacity: 0; transform: translateX(300px); }
  100% { opacity: 0.85; transform: translateX(550px)}

}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section {
  height: 100vh;
  scroll-snap-align: start;
}

.two {
  display: grid; //
  background-color: #FBF9EE;
}

.my-work {
  height: 150px;
  font-size: 120px;
  font-family: 'Orbitron', sans-serif;
  padding-top: 50px;
  border-bottom: 1px solid black;
  margin: 10px 10px 10px 10px;
}

.studio {
  display: flex;
  justify-content: flex-end;
  font-size: 120px;
  font-family: 'Orbitron', sans-serif;
  padding-top: 50px;
  border-bottom: 1px solid black;
  margin: 10px 10px 10px 10px;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  font-size: 120px;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding-top: 50px;
  border-bottom: 1px solid black;
  margin: 10px 10px 10px 10px;
}

.picture-container {
    display: flex;
  }

.picture-container-two {
  display: flex;

}
.picture-container-three {
  display: flex;
}

.three {
  background-color: #FBF9EE;
}

.four {
  background-color: #FBF9EE;
  display: grid;
  align-items: start;
}

@keyframes fadeOutToLeft {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(-100px); }
}

@keyframes fadeOutToRight {
  from { opacity: 1; transform: translateX(0); }
  to { opacity: 0; transform: translateX(100px); }
}

.os-phrases h2.fade-out-left {
  animation: fadeOutToLeft 1s forwards;
}

.os-phrases h2.fade-out-right {
  animation: fadeOutToRight 1s forwards;
}

.card {
  display: flex;
  flex: 350px;
  width: 350px;
  height: 200px;
    /*border: 1px solid rgba(255, 255, 255, 0.61);*/
    padding: 10px;
  justify-content: space-evenly;
}

.images {
  width: 350px;
  border-radius: 10px;
}

.card .images:hover {
  transition: transform 1s ease;
}

.card .images:hover {
  transform: scale(1.2);
}

.studio-card {
  padding: 10px 20px 10px 20px;
  display: flex;
height: 380px;
  border-bottom: 1px solid black;
}

.first-text-studio {
  padding-left: 30px;
  text-align: justify;
  font-family: 'Orbitron';
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 24px;
}

.second-text-studio {
  padding-right: 30px;
  text-align: justify;
  font-family: 'Orbitron';
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 24px;
}

.studio-images {
border-radius: 10px;
  width: 380px;
}

.text-images {
  width: 350px;
  font-size: 80px;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  font-weight: 100;
  line-height: 70px;
  border-bottom: 1px solid black;
}

.text-images-two {
  width: 350px;
  font-size: 80px;
  font-weight: 100;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  line-height: 70px;
  border-bottom: 1px solid black;
}

.text-about-me {
  padding-left: 30px;
  text-align: justify;
  font-family: 'Orbitron';
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 24px;
  margin: 10px 10px 10px 10px;
}

.gradient {
  transition: opacity 1s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, black, transparent);
  opacity: 1;
 }

.fade-out {
  opacity: 0 !important; /* Override any other opacity settings */
  animation: fadeOutGradient 1s forwards;
}

@keyframes fadeOutGradient {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.gray {
  color: gray;
  font-weight: bold;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 2px;
}

span {
  margin: 0;
  padding: 0;
}

.year {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #FBF9EE;
  height: 50px;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  font-size: 150px;
  font-weight: bold;
  color: #FBF9EE;
  margin-top: 18px;
}

